.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.page__header{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: #F6F6F6;
}

.page__title{
    font-family: RobotoBold;
    font-size: 24px;
    font-weight: 700;
}

.page__button button{
    float: right;
    height: 36px;
    min-width: 80px;
}

.page__container{
    /* flex: 1; */
    height: calc(100% - 60px);
}