.input{
    border-radius: 4px;
    border: 1px solid var(--boder-color-default);
    outline: none;
    height: 36px;
    min-width: 80px;
    padding: 0 16px;
    width: 100%;
}

input:focus{
    border-color: green;
}

input .error:focus{
    border-color: red;
}

.input--full-width{
    width: 100%;
}